In [1]:
import pandas as pd
import subprocess 
import os
import numpy as np

In [17]:
os.listdir('../files')

['test.csv', 'vehicle_challenge.csv.gz']

In [31]:
subprocess.getoutput('pwd')

'/Users/felipe/docker_test/airflow-docker/notebooks'

In [36]:
result = subprocess.getoutput('gzip -dc ../files/vehicle_challenge.csv.gz | wc -l')
result

'  500000'

In [68]:
subprocess.getoutput("awk '{print NF}' ../files/vehicle_challenge.csv | sort -nu | tail -n 1")

'23'

In [66]:
with open('../files/vehicle_challenge.csv', 'r') as f:
        lines = f.readlines()
        for l in lines: 
            print(l)
            break

id,vin,price,miles,stock_no,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip

In [39]:
'hola'+result

'hola  500000'

In [6]:
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../files/vehicle_challenge.csv')
df.head()

/var/folders/qw/qlh96nrs6wzg02z_zhw1ghhm0000gn/T/ipykernel_78004/3108565309.py:1: DtypeWarning: Columns (2,3,5,14,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../files/vehicle_challenge.csv')

,id,vin,price,miles,stock_no,year,make,model,trim,body_type,...,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip
0,38b2f52e-8f5d,1GCWGFCF3F1284719,20998.0,115879.0,W1T503168C,2015,Chevrolet,Express Cargo,Work Van,Cargo Van,...,RWD,Automatic,E85 / Unleaded,4.8,V,nissan ellicott city,8569 Baltimore National Pike,Ellicott City,MD,21043
1,97ba4955-ccf0,WBY7Z8C59JVB87514,27921.0,7339.0,P33243,2018,BMW,i3,s,Hatchback,...,RWD,Automatic,Electric / Premium Unleaded,0.6,I,hendrick honda pompano beach,5381 N Federal Highway,Pompano Beach,FL,33064
2,be1da9fd-0f34,ML32F4FJ2JHF10325,11055.0,39798.0,WM2091A,2018,Mitsubishi,Mirage G4,SE,Sedan,...,FWD,Automatic,Unleaded,1.2,I,russ darrow toyota,2700 West Washington St.,West Bend,WI,53095
3,84327e45-6cb6,1GCPTEE15K1291189,52997.0,28568.0,9U2Y425A,2019,Chevrolet,Colorado,ZR2,Pickup,...,4WD,Automatic,Diesel,2.8,I,young kia,308 North Main Street,Layton,UT,84041
4,cde691c3-91dd,1G2AL18F087312093,NaN,188485.0,T36625A,2008,Pontiac,G5,Base,Coupe,...,FWD,Automatic,Unleaded,2.2,I,pappas toyota,10011 Spencer Rd,Saint Peters,MO,63376

In [3]:
raw_fuels =df.fuel_type.unique().tolist()
print(raw_fuels)
raw_fuels.remove(np.nan)

['E85 / Unleaded', 'Electric / Premium Unleaded', 'Unleaded', 'Diesel', 'Premium Unleaded', 'Premium Unleaded; Unleaded', nan, 'Unleaded / Electric', 'Premium Unleaded / Unleaded', 'Electric / Unleaded', 'Unleaded; Unleaded / E85', 'Unleaded / E85', 'Premium Unleaded / Natural Gas', 'E85 / Unleaded; Unleaded', 'Diesel; Unleaded', 'Unleaded; Unleaded / Natural Gas', 'E85 / Premium Unleaded; E85 / Unleaded', 'Compressed Natural Gas', 'E85', 'Electric', 'E85 / Premium Unleaded', 'Electric / Hydrogen', 'Compressed Natural Gas; Unleaded', 'E85 / Unleaded; Unleaded / Unleaded', 'Premium Unleaded; Premium Unleaded / E85', 'Electric / Premium Unleaded; Electric / Unleaded', 'Premium Unleaded / Unleaded; Unleaded', 'fuel_type']

In [ ]:
[gasoline, gas, diesel, hybrid,electric,]

In [12]:
types = {
'gasoline' : ["E85 / Unleaded",'Unleaded','Premium Unleaded',
            'Premium Unleaded; Unleaded','Premium Unleaded / Unleaded',
            'Unleaded; Unleaded / E85','Unleaded / E85','E85 / Premium Unleaded',
            'Premium Unleaded; Premium Unleaded / E85','Premium Unleaded / Unleaded; Unleaded'],
'hybrid' : ['Electric / Premium Unleaded','Unleaded / Electric','Electric / Unleaded',
            'Premium Unleaded / Natural Gas','Unleaded; Unleaded / Natural Gas'
            'Compressed Natural Gas; Unleaded','Electric / Premium Unleaded; Electric / Unleaded'],
'diesel' : ['Diesel','Diesel; Unleaded'],
'gas':['Compressed Natural Gas'],
'electric':['Electric','Electric / Hydrogen']

}

In [15]:
types['electric']

['Electric', 'Electric / Hydrogen']

In [30]:
def map_fuels(x,types):
    for full_type in types:
        if x in types[full_type]:
            return full_type

In [37]:
print(df.fuel_type.apply(map_fuels,args= (types,)).unique())
df.fuel_type.apply(map_fuels,args= (types,)).value_counts()

['gasoline' 'hybrid' 'diesel' None 'gas' 'electric']

gasoline    443096
hybrid       14181
electric     10746
diesel        7824
gas             12
Name: fuel_type, dtype: int64

In [19]:
gas = []
for fuel in raw_fuels: 
    print(fuel)
    if 'gas' in fuel.lower() and : 
        gas.append(fuel)
        raw_fuels.remove(fuel)
print(gas)

E85 / Unleaded
Electric / Premium Unleaded
Unleaded
Diesel
Premium Unleaded
Premium Unleaded; Unleaded
Unleaded / Electric
Premium Unleaded / Unleaded
Electric / Unleaded
Unleaded; Unleaded / E85
Unleaded / E85
Premium Unleaded / Natural Gas
Diesel; Unleaded
Unleaded; Unleaded / Natural Gas
Compressed Natural Gas
Electric
E85 / Premium Unleaded
Electric / Hydrogen
Compressed Natural Gas; Unleaded
Premium Unleaded; Premium Unleaded / E85
Electric / Premium Unleaded; Electric / Unleaded
Premium Unleaded / Unleaded; Unleaded
fuel_type
['Premium Unleaded / Natural Gas', 'Unleaded; Unleaded / Natural Gas', 'Compressed Natural Gas', 'Compressed Natural Gas; Unleaded']

In [112]:
df.price.isna().sum()

51555

In [83]:
df[df['price']==' ']

Empty DataFrame
Columns: [id, vin, price, miles, stock_no, year, make, model, trim, body_type, vehicle_type, drivetrain, transmission, fuel_type, engine_size, engine_block, seller_name, street, city, state, zip]
Index: []

In [80]:
df.vehicle_type.unique()

array(['Truck', 'Car', nan, 'vehicle_type'], dtype=object)

In [ ]:
.groupby(['city']).count()

In [103]:
df[~df['price'].isna()]

,id,vin,price,miles,stock_no,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip
0,38b2f52e-8f5d,1GCWGFCF3F1284719,20998.0,115879.0,W1T503168C,2015,Chevrolet,Express Cargo,Work Van,Cargo Van,Truck,RWD,Automatic,E85 / Unleaded,4.8,V,nissan ellicott city,8569 Baltimore National Pike,Ellicott City,MD,21043
1,97ba4955-ccf0,WBY7Z8C59JVB87514,27921.0,7339.0,P33243,2018,BMW,i3,s,Hatchback,Car,RWD,Automatic,Electric / Premium Unleaded,0.6,I,hendrick honda pompano beach,5381 N Federal Highway,Pompano Beach,FL,33064
2,be1da9fd-0f34,ML32F4FJ2JHF10325,11055.0,39798.0,WM2091A,2018,Mitsubishi,Mirage G4,SE,Sedan,Car,FWD,Automatic,Unleaded,1.2,I,russ darrow toyota,2700 West Washington St.,West Bend,WI,53095
3,84327e45-6cb6,1GCPTEE15K1291189,52997.0,28568.0,9U2Y425A,2019,Chevrolet,Colorado,ZR2,Pickup,Truck,4WD,Automatic,Diesel,2.8,I,young kia,308 North Main Street,Layton,UT,84041
6,43847b9a-6fed,1B7HC16Y8YS543285,3995.0,137537.0,BP8246A,2000,Dodge,Ram Pickup,ST,Pickup,Truck,RWD,Manual,Unleaded,5.2,V,baumann auto group,2379 W. State St.,Fremont,OH,43420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499993,2afbbdab-f39b,1FADP3K26JL304520,17995.0,22038.0,130578,2018,Ford,Focus,SE,Hatchback,Car,FWD,Automatic,Unleaded,2,I,crown dodge,555 W Cypress Avenue,Redding,CA,96001.0
499994,c5836cec-f239,1FADP3F28JL242127,14377.0,57223.0,923464A,2018,Ford,Focus,SE,Sedan,Car,FWD,Manual,E85 / Unleaded,2,I,darling's brunswick ford,262 Bath Road,Brunswick,ME,4011.0
499995,2080fae4-9df4,1FADP3K29FL243896,8990.0,98692.0,BA217030A,2015,Ford,Focus,SE,Hatchback,Car,FWD,Manual,E85 / Unleaded,2,I,chapman volkswagen of tucson,4500 E. 22nd St.,Tucson,AZ,85711.0
499996,5def7566-3e38,1FADP3F22EL438134,8188.0,88554.0,M10217A,2014,Ford,Focus,SE,Sedan,Car,FWD,Manual,E85 / Unleaded,2,I,mercedes-benz of durham,110 Kentington Dr.,Durham,NC,27713.0
499998,43154429-d480,1FADP3F27EL151758,7950.0,101490.0,TA60261B,2014,Ford,Focus,SE,Sedan,Car,FWD,Manual,E85 / Unleaded,2,I,liberty ford maple heights,5500 Warrensville Center Road,Maple Heights,OH,44137.0

In [117]:
(df['price']=='price').sum()

1

In [114]:
df = df.dropna(subset = ['price','year','miles','engine_size','zip'])

In [115]:
df.shape

(404000, 21)

In [140]:
# df[(
#     df['vehicle_type']=='Truck') 
#     & (df['model'].isin(['F-150', 'F-150 Heritage']))  ]

In [141]:
df[(
    df['vehicle_type']=='Truck') 
    & (df['model'].isin(['F-150', 'F-150 Heritage']))  ].groupby(['city'])['model'].count().sort_values(ascending=False)

city
Houston        80
Orlando        70
Medford        56
Arlington      50
Raleigh        44
               ..
Maryville       2
Massena         2
Castroville     2
Massilon        2
Limon           2
Name: model, Length: 1323, dtype: int64

In [118]:
df.isin(['V1N 1H9']).any()

id              False
vin             False
price           False
miles           False
stock_no        False
year            False
make            False
model           False
trim            False
body_type       False
vehicle_type    False
drivetrain      False
transmission    False
fuel_type       False
engine_size     False
engine_block    False
seller_name     False
street          False
city            False
state           False
zip              True
dtype: bool

In [124]:
import numpy as np

In [136]:
[zip for zip in  df.zip.unique().tolist() if isinstance(zip, str) and zip.isdigit()==False]

['J0J 1J0', 'V1N 1H9', 'zip']

In [131]:
df[df.zip.str.replace('.0','').str.isdigit().isna()]

/var/folders/qw/qlh96nrs6wzg02z_zhw1ghhm0000gn/T/ipykernel_16575/4225055006.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df[df.zip.str.replace('.0','').str.isdigit().isna()]

,id,vin,price,miles,stock_no,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip
131072,3540b1c3-3a1e,3FA6P0LU2JR141681,14995.0,85389.0,141681,2018,Ford,Fusion Hybrid,SE,Sedan,Car,FWD,Automatic,Electric / Unleaded,2,I,auto expo houston,9820 Bissonnet Street,Houston,TX,77036.0
131073,4deb98b4-8955,KM8K12AA7KU260623,16900.0,60051.0,KU260623,2019,Hyundai,Kona,SE,SUV,Truck,FWD,Automatic,Unleaded,2,I,bob howard nissan,13200 North Broadway Extension,Oklahoma City,OK,73114.0
131074,fbb3f5a2-4bd8,3PCAJ5M15KF113772,34068.0,28100.0,ZM12666A,2019,INFINITI,QX50,Essential,SUV,Truck,FWD,Automatic,Premium Unleaded,2,I,hendrick honda,8901 South Blvd,Charlotte,NC,28273.0
131075,429a6478-c70c,3KPFL4A76HE069217,19995.0,27476.0,113356A,2017,Kia,Forte,LX,Sedan,Car,FWD,Automatic,Unleaded,2,I,aloha kia kona,75-5645 Kuakini Highway,Kailua Kona,HI,96740.0
131076,bd8df35d-a5c1,WAUBNCF52JA013260,37649.0,12509.0,ATJA013260,2018,Audi,A5 Sportback,Premium Plus,Hatchback,Car,4WD,Automatic,Premium Unleaded,2,I,mcdonald volvo cars,6040 South Broadway,Littleton,CO,80121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499993,2afbbdab-f39b,1FADP3K26JL304520,17995.0,22038.0,130578,2018,Ford,Focus,SE,Hatchback,Car,FWD,Automatic,Unleaded,2,I,crown dodge,555 W Cypress Avenue,Redding,CA,96001.0
499994,c5836cec-f239,1FADP3F28JL242127,14377.0,57223.0,923464A,2018,Ford,Focus,SE,Sedan,Car,FWD,Manual,E85 / Unleaded,2,I,darling's brunswick ford,262 Bath Road,Brunswick,ME,4011.0
499995,2080fae4-9df4,1FADP3K29FL243896,8990.0,98692.0,BA217030A,2015,Ford,Focus,SE,Hatchback,Car,FWD,Manual,E85 / Unleaded,2,I,chapman volkswagen of tucson,4500 E. 22nd St.,Tucson,AZ,85711.0
499996,5def7566-3e38,1FADP3F22EL438134,8188.0,88554.0,M10217A,2014,Ford,Focus,SE,Sedan,Car,FWD,Manual,E85 / Unleaded,2,I,mercedes-benz of durham,110 Kentington Dr.,Durham,NC,27713.0
499998,43154429-d480,1FADP3F27EL151758,7950.0,101490.0,TA60261B,2014,Ford,Focus,SE,Sedan,Car,FWD,Manual,E85 / Unleaded,2,I,liberty ford maple heights,5500 Warrensville Center Road,Maple Heights,OH,44137.0

In [123]:
df.zip.str.isdigit()

0         True
1         True
2         True
3         True
6         True
          ...
499993     NaN
499994     NaN
499995     NaN
499996     NaN
499998     NaN
Name: zip, Length: 404000, dtype: object

In [76]:
df.isin(['']).any()

id              False
vin             False
price           False
miles           False
stock_no        False
year            False
make            False
model           False
trim            False
body_type       False
vehicle_type    False
drivetrain      False
transmission    False
fuel_type       False
engine_size     False
engine_block    False
seller_name     False
street          False
city            False
state           False
zip             False
dtype: bool

In [55]:
df[df['price']=='price']

,id,vin,price,miles,stock_no,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip
199999,id,vin,price,miles,stock_no,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip

In [57]:
# df.price.str.replace('0.','').astype('float64')

In [67]:
print(f'The file contains: Lines {df.shape[0]+1} from it contains {df.shape[0]} rows and  {df.shape[1]} columns')
print(f'The file headers: {", ".join(df.columns.to_list())}')

The file contains: Lines 500000 from it contains 499999 rows and  21 columns
The file headers: id, vin, price, miles, stock_no, year, make, model, trim, body_type, vehicle_type, drivetrain, transmission, fuel_type, engine_size, engine_block, seller_name, street, city, state, zip

In [ ]:
query = """CREATE TABLE IF NOT EXISTS vehicules (
                    id VARCHAR,
                    vin VARCHAR,
                    price VARCHAR,
                    miles VARCHAR, 
                    stock_no VARCHAR, 
                    year VARCHAR, 
                    make VARCHAR, 
                    model VARCHAR, 
                    trim VARCHAR, 
                    body_type VARCHAR, 
                    vehicle_type VARCHAR, 
                    drivetrain VARCHAR, 
                    transmission VARCHAR, 
                    fuel_type VARCHAR, 
                    engine_size VARCHAR, 
                    engine_block VARCHAR, 
                    seller_name VARCHAR, 
                    street VARCHAR, 
                    city VARCHAR, 
                    state VARCHAR, 
                    zip  VARCHAR
                    )      
"""

In [50]:
df.dtypes

id              object
vin             object
price           object
miles           object
stock_no        object
year            object
make            object
model           object
trim            object
body_type       object
vehicle_type    object
drivetrain      object
transmission    object
fuel_type       object
engine_size     object
engine_block    object
seller_name     object
street          object
city            object
state           object
zip             object
dtype: object